body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-size: 21px;
  font-weight: 300;
  color: gray;
}

a {
  font-size: 16px;
  color:aquamarine;
}

video {
  margin: auto;
  display: block;
  margin-top: 20px;
}

img {
  margin: auto;
  display: block;
}

.camp-photo {
  margin-bottom: 25px;
}

footer {
  text-align: right;
}